* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main-container {
    width: 100%;
    height: 100%;
    background: #191C21;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-wrapper {
    width: 100%;
    height: 95%;
    /* background: #1B3F33; */
    border-radius: 2em;

}

/* ! nav Bar */
#nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 10%;
    background: #000;
    /* border: 1px solid red; */
    align-items: center;
    color: #f8f8ff;


}

.hero-img {
    width: 100%;
    height: 90%;
    background: url('./images/hero-bg.jpg');
    background-size: cover;
   display: grid;
   place-items: center;
   color: #f8f8ff;


}

#list>ul {
    display: flex;

}

#list>ul>li {
    margin-left: 3em;
    list-style-type: none;
}

#list>ul>li>a {
    text-decoration: none;
    color: #f8f8ff;
}

#sign-up>ul {
    display: flex;
    list-style: none;
}

.btn {
    padding: 0.5em 1.5em;
    margin-left: 1em;
    background: #9ec39e;
    border: none;
    border-radius: 1em;
}

/* ! nav Bar */